.logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: "Open Sans", Helvetica, sans-serif;
}

@media only screen and (max-width :480px)
{
    h4.back-light {
        font-size: 10px;
    }
    .carousel-indicators {
        margin-bottom: 0;
    }
    .carousel-caption {
        bottom: 5px;
    }
}
