@using EvansDiary.Web.Controllers
@using EvansDiary.Web.Diary.Extensions
@model YearViewModel

@{
    var dateTimeHelper = new System.Globalization.DateTimeFormatInfo();

    var monthDigit = 1;
    var gridClass = Model.Year == 2008 ? "pure-u-1-2 pure-u-sm-1-3" : "pure-u-1-2 pure-u-sm-1-4";
}

<div class="diary-nav container">
    <div class="box">
        <ul class="polaroids pure-g">
            @foreach (var image in Model.Images)
            {
                var monthName = dateTimeHelper.GetMonthName(monthDigit);

                <li class="@gridClass">
                    @using (Html.ScopedActionLink<DiaryController>(x => x.Month(Model.Year, monthName.ToLowerInvariant()), new {title = @monthName}))
                    {
                        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                             data-src="@image.Source"
                             data-width="@image.Width"
                             data-crop="fill" data-quality="80" alt="@image.Caption" />
                    }
                </li>
                monthDigit++;
            }
        </ul>
    </div>
</div>