@using EvansDiary.Web.Controllers
@using EvansDiary.Web.Diary.Extensions
@model YearViewModel

<div class="diary-nav container">
    <div class="box">
        <ul class="flat pure-g image-nav-list">
            @for (var week = 0; week <= 52; week++)
            {
                var imgSrc = string.Format("/Content/images/diary/years/{0}/w{1}-main.jpg", Model.Year, week);
                var description = week == 0
                    ? "Week 0 - The Birth"
                    : "Week " + week;

                <li class="pure-u-1-2 pure-u-sm-1-4">
                    @using (Html.ScopedActionLink<DiaryController>(x => x.Week(Model.Year, week)))
                    {
                        <img src="@imgSrc" alt="Week @week" title="Week @week" />
                    }
                    <span>@description</span>
                </li>
            }
        </ul>
    </div>
</div>
