@model EvansDiary.Web.ViewModels.YearViewModel

@{
    ViewBag.Title = string.Format("Year - {0} ({1})", Model.Age, Model.Year);
}

<section id="week">
    <h2>@ViewBag.Title</h2>
    <h3>@Model.Description</h3>

    
</section>