
@{
    ViewBag.Title = "Evan's Athletics";
}

<section id="diary-page">
    <h2>History</h2>
    <p>
        Evan showed a keen interest in running from an early age. At any sporting event held from Nursery through to the Primary School ages he would put himself forward to run in the running race.
        He is naturally a very competitive boy and we found that his Primary School in particular removed the whole competitive attitude from Sports Day and it became a 'Let's Take Part' affair.
        I understand that not everyone is good at or enjoys sports but then I also know that not everyone is academic as well, but you never see a school saying to those children "Oh well, let's just take part".
        It's the one thing about modern schooling that I disagree with. You have Sport for England wondering why we aren't creating athletes capable of competing at an Elite level, it all starts at the ground roots, at the schools!
    </p>

    <p>
        Understandably, Evan was not really getting the exposure to athletics and encouragement at school, however, he was attending holiday clubs at a local Sports Centre affiliated to the Secondary School in our area.
        It was here that he was spotted by a Track and Field coach because he seemed to be very good at high jump when they did this activity.
        We were given the details of an athletics club that runs at the University of Bath. This was pre 2012 so luckily the waiting list was not too long and we were able to get him in within a period of 12 months.
        The <a href="http://www.teambath.com/tribe-schools/tribe-activities-7-14-years/">'Tribe'</a> athletics club was fun way to introduce an array of track and field activities to young children.
    </p>

    <p>
        Evan was starting to outgrow Tribe and wanted to have a go at competing. Competing is particularly hard when you are not affiliated to an athletics club, you have to compete as an independent and research all the events and activities yourself.
        We decided to put Evan on the waiting list to join <a href="http://www.teambathac.org/join/junior/junior-9-11/">Team Bath 365</a>, at 8 years old he was still too young to join this club, which accepts children when they reach 9 as they would be competing in the youngest age category U11's.
        In the summer before his 9th birthday, we decided to take Evan along to a few open athletics meets to compete as an Independent just to get a feel for what it's like. You can get similar issues in athletics to those that actors get when they get 'Stage Fright' performing and the earlier you tackle this the better.
    </p>

    <p>
        When Evan made it into the 365 athletics club, which is just a step up from Tribe but with older children, we decided to investigate if there were any other sessions that Evan could do to fine tune his natural ability.
        This is when we found out about the <a href="http://www.teambath.com/sport/youth-sport/talent-development-centre/">Talent Development Centre (TDC)</a>, which also operates out of the University of Bath.
        You are initially invited to an assessment day where they put you through a series of tests and activities (parents were not invited to watch).
        If successful, you can then choose from a variety of sessions that you can then attend that focus on improving specific attributes. E.g. Speed and Agility, Strength, Power etc..
        TDC caters for a variety of Sports so Evan gets to work alongside people from a variery of sports e.g. Swimmers, Rugby players, Footballers and of varying ages.
        When he started to sessions at 10 years of age, he was training alongside 14 and 15 year olds. Being amongst the older children focused Evan more because there is less emphasis on play.
    </p>

</section>

