@model HomeViewModel
@{
    ViewBag.Title = "Evan Middlebrook";
}

<section id="home" class="text-center">

    <div id="carousel-home" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">

                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/highjump-1392x630_hox0tx.jpg" alt="Athletics Open Meet" />
                <div class="carousel-caption">
                    <h4 class="back-light">Evan performing at his very first athletics open meet</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/table-tennis-1392x630_t0x13u.jpg" alt="Table Tennis in Bath" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Enjoying some family time in Bath City centre</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/triathalon-1392x630_q0hmxw.jpg" alt="Kids Triathalon" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Fund raising for Tusk Trust by completing in his first Kids Triathalon</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/fishing-1392x630_bjkibe.jpg" alt="Sea Fishing" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Fishing off the coast in Exmouth</h4>
                </div>
            </div>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
            <li data-target="#carousel-home" data-slide-to="3"></li>
        </ol>
    </div>
</section>
<!--/.SLIDESHOW END-->

<section id="about-me">
    <div class="pure-g block-grid">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/family.jpg" alt="My Family" />
            <div class="overlay">
                <h4>#Family</h4>
                <p>My family, we mean the world to each other</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/best-friends.jpg" alt="Best Friends" />
            <div class="overlay">
                <h4>#BestFriends</h4>
                <p>My best friend—love her so much</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/cockerel.jpg" alt="My Team" />
            <div class="overlay">
                <h4>#MyTeam</h4>
                <p>Like my mum, there's only one team for me. Come on you Spurs!</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/team-bath.jpg" alt="Team Bath" />
            <div class="overlay">
                <h4>#MyPassion</h4>
                <p>Competing for my athletics club—Team Bath</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/warhammer.jpg" alt="Warhammer" />
            <div class="overlay">
                <h4>#Hobbies</h4>
                <p>My creative side sees me painting my warhammer figures</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block temporary-overlay flipbook">
            <div id="rotating-item-wrapper">
                @Html.Partial("_Flipbook", Model.FlipbookItems)
            </div>
            <div class="overlay">
                <h4>#Me</h4>
                <p>This is a flip book of me growing up</p>
            </div>
        </div>
    </div>
</section>

@section PageScripts {
    @Scripts.Render("~/bundles/jquerycloudinary")
    <script type="text/javascript">
        var timer = null;
        var numberOfItems = 0;
        var currentItem = 0;

        function startSlider() {
            timer = setInterval(function () {
                $('.rotating-item').eq(currentItem).hide();

                if (currentItem === numberOfItems - 1) {
                    currentItem = 0;
                } else {
                    currentItem++;
                }
                $('.rotating-item').eq(currentItem).show();
            }, 1000); // 1 second
        };

        function pauseSlider() {
            clearInterval(timer);
        };

        $(function() {
            ed.cloudinary.dynamicImages();

            window.addEventListener('resize', function(event) {
                var firstBlock = $('.block:first');
                $('.flipbook').height(firstBlock.height());
            });

            $('.rotating-item').hover(function (e) {
                pauseSlider();
            },function() {
                startSlider();
            });

            $(document).on('touchstart', '.rotating-item', function (e) {
                e.preventDefault();
                pauseSlider();
            });

            $(document).on('touchend', '.rotating-item', function (e) {
                e.preventDefault();
                startSlider();
            });
        });

        // $(window).load runs after HTML and images have loaded. 
        // $(function () {} (document ready) runs when the DOM is ready not including images.
        $(window).load(function() {
            var infiniteRotator =
            {
                init: function() {
                    $('#rotating-item-wrapper img:gt(0)').hide();

                    // Set the initial height
                    var firstBlock = $('.block:first');
                    $('.flipbook').height(firstBlock.height());

                    numberOfItems = $('.rotating-item').length;
                    currentItem = 0;

                    // show first item
                    $('.rotating-item')
                        .eq(currentItem)
                        .show();
                    
                    startSlider();
                }
            };

            infiniteRotator.init();
        });
    </script>
}