@using EvansDiary.Web.Diary.TransferObjects
@{
    ViewBag.Title = "Evan Middlebrook";
}

<section id="home" class="text-center">

    <div id="carousel-home" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">

                <img src="/content/images/carousel/image1.png" alt="carousel image"/>
                <div class="carousel-caption">
                    <h4 class="back-light">Evan performing at his very first athletics open meet.</h4>
                </div>
            </div>
            <div class="item">
                <img src="/content/images/carousel/image2.png" alt="carousel image"/>
                <div class="carousel-caption ">
                    <h4 class="back-light">Enjoying some family time in Bath City centre.</h4>
                </div>
            </div>
            <div class="item">
                <img src="/content/images/carousel/image3.png" alt="carousel image"/>
                <div class="carousel-caption ">
                    <h4 class="back-light">Fund raising for Tusk Trust by completing in his first Kids Triathalon.</h4>
                </div>
            </div>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
        </ol>
    </div>

    <h3>Flipbook through the ages</h3>

    <p>Here's a glimpse at Evan through the ages. Enjoy!</p>

    <div id="rotating-item-wrapper">
        @{
            // Get Evan's actual age, using 2004 will give the age he will be this year.
            var realTimeYears = DateTime.Now.Year - 2005;

            for (var age = 1; age <= realTimeYears; age++)
            {
                for (var agePart = 1; agePart <= (age == 1 ? 6 : 3); agePart++)
                {
                    var ageImage = new AssociatedImage(string.Format("age{0}part{1}", age, agePart), "Age " + age);
                    <img class="rotating-item" src="@ageImage.GetUrl(null, null)" alt="@ageImage.Caption"/>
                    @*<img class="rotating-item" src="images/entrance.jpg" alt="photo of building across from our office" width="980" height="347" />*@
                }
            }

        }
    </div>
</section>

@section PageScripts {

    <script type="text/javascript">

        // $(window).load runs after HTML and images have loaded. 
        // $(function () {} (document ready) runs when the DOM is ready not including images.
        $(window).load(function() {
            var infiniteRotator =
            {
                init: function() {
                    // initial fade-in time (in milliseconds)
                    var initialFadeIn = 1000;

                    // interval between items (in milliseconds)
                    var itemInterval = 2000;

                    // cross-fade time (in milliseconds)
                    var fadeTime = 1000;

                    // count number of items
                    var numberOfItems = $('.rotating-item').length;

                    // set current item
                    var currentItem = 0;

                    // show first item
                    $('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);

                    // loop through the items
                    var infiniteLoop = setInterval(function() {
                        $('.rotating-item').eq(currentItem).fadeOut(fadeTime);

                        if (currentItem == numberOfItems - 1) {
                            currentItem = 0;
                        } else {
                            currentItem++;
                        }
                        $('.rotating-item').eq(currentItem).fadeIn(fadeTime);

                    }, itemInterval);
                }
            };

            infiniteRotator.init();
        });

    </script>
}