@using EvansDiary.Web.Diary.TransferObjects
@{
    ViewBag.Title = "Evan Middlebrook";
}

<section id="home" class="text-center">

    <div id="carousel-home" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">

                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/highjump-1392x630_dy7ubc.jpg" alt="Athletics Open Meet" />
                <div class="carousel-caption">
                    <h4 class="back-light">Evan performing at his very first athletics open meet</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/table-tennis-1392x630_k7bnan.jpg" alt="Table Tennis in Bath" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Enjoying some family time in Bath City centre</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/triathalon-1392x630_bbqdau.jpg" alt="Kids Triathalon" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Fund raising for Tusk Trust by completing in his first Kids Triathalon</h4>
                </div>
            </div>
            <div class="item">
                <img src="http://res.cloudinary.com/dqg9nkccw/image/upload/c_fill,q_80/fishing-1392x630_n7nr4r.jpg" alt="Sea Fishing" />
                <div class="carousel-caption ">
                    <h4 class="back-light">Fishing off the coast in Exmouth</h4>
                </div>
            </div>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
            <li data-target="#carousel-home" data-slide-to="3"></li>
        </ol>
    </div>
</section>
<!--/.SLIDESHOW END-->

<section id="about-me">
    <div class="pure-g block-grid">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/family.jpg" alt="My Family" />
            <div class="overlay">
                <h4>#Family</h4>
                <p>My family, we mean the world to each other</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/best-friends.jpg" alt="Best Friends" />
            <div class="overlay">
                <h4>#BestFriends</h4>
                <p>My best friend—love her so much</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/cockerel.jpg" alt="My Team" />
            <div class="overlay">
                <h4>#MyTeam</h4>
                <p>Like my mum, there's only one team for me. Come on you Spurs!</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/team-bath.jpg" alt="Team Bath" />
            <div class="overlay">
                <h4>#MyPassion</h4>
                <p>Competing for my athletics club—Team Bath</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <img src="/Content/images/grid/warhammer.jpg" alt="Warhammer" />
            <div class="overlay">
                <h4>#Hobbies</h4>
                <p>My creative side sees me painting my warhammer figures</p>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 block">
            <div id="rotating-item-wrapper">
                @*<img class="rotating-item" src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/.jpg" alt="flipbook image" width="980" height="347" />*@
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w1_evan_peaceful_hqreul.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w5_smiling_now_icxvs3.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w16_commando_iucohe.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w18_ooh_whassat_knacas.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w28_cool_dude_d6c1du.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w36_sand_feels_good_nd9v2f.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/w47_after_haircut_rp8ntl.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/mar_bed_hair_xcmrd3.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/jun_lovely_smile_hnyiew.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/aug_flying_closeup_kwuunw.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/nov_cute_hair_sk4ev7.jpg" alt="flipbook image" />
                <img class="rotating-item " src="http://res.cloudinary.com/dqg9nkccw/image/upload/w_380,h_380,q_80,c_fill,g_face/apr_scar_smile_mse9by.jpg" alt="flipbook image" />
            </div>
            <div class="overlay">
                <h4>#Me</h4>
                <p>This is a flip book of me growing up</p>
            </div>
        </div>
    </div>
</section>

@section PageScripts {

    <script type="text/javascript">

        // $(window).load runs after HTML and images have loaded. 
        // $(function () {} (document ready) runs when the DOM is ready not including images.
        $(window).load(function() {
            var infiniteRotator =
            {
                init: function () {
                    $('#rotating-item-wrapper img:gt(1)').hide();

                    // show first item
                    $('.rotating-item').eq(0).show();

                    setInterval(function () {
                        $('#rotating-item-wrapper :first-child')
                            .fadeOut(2500)
                            .next('img')
                            .fadeIn()
                            .end()
                            .appendTo('#rotating-item-wrapper');
                    }, 3000); // 3 seconds
                }
            };

            infiniteRotator.init();
        });

    </script>
}